@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter.ttf");
}

@layer base {
  h1 {
    @apply font-bold;
  }
  html {
    @apply m-0 h-full w-full overflow-x-hidden p-0;
  }

  body {
    @apply m-0 box-border h-full w-full bg-base-500 p-0 font-inter;
  }
}

/* Global Component Syling */
.section-title {
  @apply text-gradient-purple py-2 text-center text-3xl font-bold lg:text-4xl xl:text-5xl;
}
.section-container {
  @apply min-h-screen w-full px-12 md:px-10 xl:px-9;
}
.section-paragraph {
  @apply max-w-md text-justify text-xs text-neutral-100 lg:max-w-xl lg:text-sm xl:max-w-2xl xl:py-4 xl:text-base;
}
.centered-layout {
  @apply flex
  flex-col items-center justify-center gap-12 py-16 sm:gap-8;
}

/* HEADER */
/* NAV */
.nav__link:hover {
  @apply text-gradient-purple;
}

/* Hero Section Styling */
.hero-section {
  @apply section-container relative flex flex-col justify-center gap-12 py-16 text-white  sm:items-center sm:gap-0;
}
.hero-title {
  @apply max-w-lg text-5xl sm:mb-6 sm:max-w-lg sm:text-center sm:text-4xl md:mb-7 md:max-w-2xl md:text-5xl lg:mb-8 lg:max-w-3xl lg:text-6xl xl:mb-10 xl:max-w-5xl xl:text-7xl 2xl:mb-10 2xl:max-w-7xl 2xl:text-8xl;
}
.hero-description {
  @apply text-[#C4C4C4] sm:mb-5 sm:max-w-md sm:text-center sm:text-xs md:mb-6 md:max-w-xl md:text-xs lg:mb-7 lg:max-w-2xl lg:text-sm xl:mb-8 xl:max-w-3xl xl:text-base 2xl:mb-8 2xl:max-w-4xl 2xl:text-lg;
}
.hero-cta {
  @apply max-w-xs self-start rounded-full bg-[#2842A7] py-3 px-8 text-left font-semibold text-white sm:max-w-full sm:self-center sm:px-9 sm:py-3 sm:text-center sm:text-xs md:px-9 md:py-3 md:text-xs lg:px-9 lg:py-3 lg:text-sm xl:px-10 xl:py-4 xl:text-base 2xl:px-12 2xl:py-6 2xl:text-lg;
}
.text-gradient-purple {
  @apply bg-gradient-to-b from-[#ff1cf7] to-[#b249f8] bg-clip-text text-transparent;
}
/* ========================================== */

/* Our Tools Section Styling */
.tools-section {
  @apply section-container m-auto flex flex-col items-center justify-center;
}
.icons-cloud {
  @apply h-full w-full items-center justify-center;
}
.tools-box {
  @apply rounded-3xl bg-opacity-10 p-10;
}
/* ===================================== */

/* CTA Section Styling */
.CTA-section {
  @apply section-container flex flex-col items-center justify-center gap-6 text-white md:gap-8 lg:gap-10 xl:gap-12;
}
.CTA-title {
  @apply text-center;
}
.CTA-h1 {
  @apply text-4xl font-medium md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl;
}
.CTA-btn {
  @apply btn-primary btn rounded-full border-none bg-gradient-to-l from-[#ff1cf7] to-[#b249f8] px-14 py-2  text-xs font-bold capitalize md:py-3 md:px-16 md:text-sm lg:px-20 lg:text-base xl:px-24 xl:py-2 xl:text-lg;
}
/* Timeline Section styles*/
.timeline-container-home {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "item-1 line ."
    ". line item-2"
    "item-3 line ."
    ". line item-4"
    "item-5 line ."
    ". line item-6";
}
.line {
  grid-area: line;
}
.item-1 {
  grid-area: item-1;
}
.item-2 {
  grid-area: item-2;
}
.item-3 {
  grid-area: item-3;
}
.item-4 {
  grid-area: item-4;
}
.item-5 {
  grid-area: item-5;
}
.item-6 {
  grid-area: item-6;
}

.timeline-container-project {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: repeat(3, min-content);
  gap: 0px 0px;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . .";
}

/* Node */

.circle-icon {
  @apply flex h-10 w-10 items-center justify-center rounded-full bg-gradient-to-t from-[#3F0741] to-[#8F008E] md:h-12 md:w-12 xl:h-14 xl:w-14;
}

/* Glasses */
.bg-glass-black {
  @apply bg-black/40 bg-opacity-10 backdrop-blur-md backdrop-filter;
}

.bg-glass-gray {
  @apply bg-gray-400 bg-opacity-10 backdrop-blur-sm backdrop-filter;
}

.bg-glass-gray-100 {
  @apply bg-gray-400 bg-opacity-5 backdrop-blur-sm backdrop-filter;
}

.bg-glass-purple-300 {
  @apply bg-purple-300 bg-opacity-10 backdrop-blur-sm backdrop-filter;
}
